Host u1
    Hostname 192.168.10.130
    user stack

Host h1
    Hostname 192.168.10.133
    user stack

Host h2
    Hostname 192.168.100.65
    user stack

Host dk1
   Hostname 192.168.10.51
   user stack

Host dk2
   Hostname 192.168.10.52
   user stack

Host dk3
   Hostname 192.168.10.53
   user stack
