Host dk1
    hostname 10.10.10.132
    user stack
Host kode
    hostname 172.16.68.150
    user root
    port 22
Host k1
    user root
    hostname 172.16.68.161
    port 22
Host k2
    hostname 172.16.68.152
    user root
    port 22
Host k3
    hostname 172.16.68.153
    user root
    port 22
Host cd1
    hostname 172.16.68.140
    user root
    port 22
Host cd2
    hostname 172.16.68.153
    user root
    port 22
Host cd3
    hostname 172.16.68.131
    user root
    port 22
Host jen
    hostname 123.30.212.247
    user root
    port 22
Host k4
    hostname 172.16.68.154
    user root
    port 22
Host u1
    hostname 10.10.10.135
    user stack
    port 22
